name: Pipeline CI/CD Node.js

# 1. GATILHO: Quando esse pipeline vai rodar?
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# 2. JOBS: O que será executado?
jobs:
  build-and-test:
    name: Build e Testes
    # O computador virtual que o GitHub vai emprestar (Ubuntu Linux)
    runs-on: ubuntu-latest

    # 3. STEPS: Passo a passo
    steps:
    # Passo A: Baixar o código do repositório para a máquina virtual
    - name: Checkout do código
      uses: actions/checkout@v4

    # Passo B: Instalar o Node.js na máquina virtual
    - name: Configurar Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'
    
    # Passo C: Instalar as dependências do projeto (Jest)
    - name: Instalar dependências
      run: npm install

    # Passo D: Rodar os testes (A etapa crucial do CI)
    - name: Executar Testes Unitários
      run: npm test

  deploy-simulado:
    name: Deploy em Produção
    needs: build-and-test # Só roda se o job anterior passar (CD)
    runs-on: ubuntu-latest
    
    steps:
      - name: Simular Deploy
        run: |
          echo "Conectando ao servidor..."
          echo "Copiando arquivos..."
          echo "Deploy realizado com sucesso!"